$blue-map: (
  light: #192a46,
  medium: #172b46,
  dark: #0a1930
);
$elephant-map: (
  light: #489595,
  medium: #4c858c,
  dark: #3b7579
);
$white-map: (
  light: #e6f0f9,
  medium: #8991ae,
  dark: #6b7a91
);
