// Mixin for pre defined class
@import "./mixin.scss";
@import "./reset.scss";
@import "./color.scss";
html,
body {
  height: 100%;
  background-color: map-get($blue-map, "dark");
}
.wide-container {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.float-left {
  float: left;
}
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}

.italic {
  font-style: italic !important;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.border-1 {
  border: 1px solid;
}
.border-top-1 {
  border-top: 1px solid;
}
.border-bottom-1 {
  border-bottom: 1px solid;
}
.border-left-1 {
  border-left: 1px solid;
}
.border-right-1 {
  border-right: 1px solid;
}

.bg-blue-light {
  background-color: map-get($blue-map, "light");
}
.bg-blue-medium {
  background-color: map-get($blue-map, "medium");
}
.bg-blue-dark {
  background-color: map-get($blue-map, "dark");
}
.text-muted-light {
  color: map-get($white-map, "light");
}
.text-muted-medium {
  color: map-get($white-map, "medium");
}
.text-deep-dark {
  color: map-get($white-map, "dark");
}
.primary-text-color-light {
  color: map-get($elephant-map, "light");
}
.primary-text-color-medium {
  color: map-get($elephant-map, "medium");
}
.primary-text-color-dark {
  color: map-get($elephant-map, "dark");
}
.border-color {
  border-color: map-get($elephant-map, "dark");
}
