<div class="project-area">
    <div class="container">
        <div class="page-title">
            <h4 class="p-0 m-0 font-size-18 text-muted-light">Some Things I've Built</h4>
        </div>
    </div>

    <div class="container project-list">
        <div class="project-img">
            <img src="" alt="">
        </div>
        <div class="project-details p-details-left">
            <p class="p-0 m-0 font-size-18">Featured Project</p>
            <h1 class="font-size-24 mb-32">OctoProfile</h1>
            <div class="p-details-bg p-32 mb-32">
                <p class="p-0 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro officiis a veritatis
                    suscipit, impedit quidem saepe,
                    corrupti eos repudiandae repellat laborum quia sapiente iusto, accusamus voluptatibus? Temporibus
                    recusandae perferendis
                    voluptatem.</p>
            </div>
            <div class="lng-use-in-project">
                <ul>
                    <li>Next.js</li>
                    <li>Chart.js</li>
                    <li>GitHub API</li>
                </ul>
            </div>
            <div class="project-link">
                <ul>
                    <li>
                        <mat-icon>restaurant</mat-icon>
                        <mat-icon>restaurant_menu</mat-icon>
                    </li>
                </ul>
            </div>
        </div>
        <div class="project-details p-details-right">
            <p class="p-0 m-0 font-size-18">Featured Project</p>
            <h1 class="font-size-24 mb-32">OctoProfile</h1>
            <div class="p-details-bg p-32 mb-32">
                <p class="p-0 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro officiis a veritatis
                    suscipit, impedit quidem saepe,
                    corrupti eos repudiandae repellat laborum quia sapiente iusto, accusamus voluptatibus? Temporibus
                    recusandae perferendis
                    voluptatem.</p>
            </div>
            <div class="lng-use-in-project">
                <ul>
                    <li>Next.js</li>
                    <li>Chart.js</li>
                    <li>GitHub API</li>
                </ul>
            </div>
            <div class="project-link">
                <ul>
                    <li>
                        <mat-icon>restaurant</mat-icon>
                        <mat-icon>restaurant_menu</mat-icon>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="all-project-list container">
        <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-32">
            <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="33%" class="single-project">
                <div class="p-32" fxLayout="row" fxLayoutAlign="start start">
                    <div class="folder-icon">
                        <mat-icon>folder</mat-icon>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <mat-icon>folder</mat-icon>
                            </li>
                            <li>
                                <mat-icon>folder</mat-icon>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-50">
                    <h3 class="p-0 m-0">Google Keep Clone</h3>
                    <p class="p-0 m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint assumenda beatae
                        quas quam numquam alias ratione cupiditate aliquid quae laboriosam! Similique iure modi officiis
                        provident quidem assumenda tempore delectus ullam?</p>
                </div>
                <div>
                    <ul>
                        <li>Vue</li>
                        <li>FireBase</li>
                        <li>SCSS</li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="33%" class="single-project">
                <div class="p-32" fxLayout="row" fxLayoutAlign="start start">
                    <div class="folder-icon">
                        <mat-icon>folder</mat-icon>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <mat-icon>folder</mat-icon>
                            </li>
                            <li>
                                <mat-icon>folder</mat-icon>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-50">
                    <h3 class="p-0 m-0">Google Keep Clone</h3>
                    <p class="p-0 m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint assumenda beatae
                        quas quam numquam alias ratione cupiditate aliquid quae laboriosam! Similique iure modi officiis
                        provident quidem assumenda tempore delectus ullam?</p>
                </div>
                <div>
                    <ul>
                        <li>Vue</li>
                        <li>FireBase</li>
                        <li>SCSS</li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="33%" class="single-project">
                <div class="p-32" fxLayout="row" fxLayoutAlign="start start">
                    <div class="folder-icon">
                        <mat-icon>folder</mat-icon>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <mat-icon>folder</mat-icon>
                            </li>
                            <li>
                                <mat-icon>folder</mat-icon>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-50">
                    <h3 class="p-0 m-0">Google Keep Clone</h3>
                    <p class="p-0 m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint assumenda beatae
                        quas quam numquam alias ratione cupiditate aliquid quae laboriosam! Similique iure modi officiis
                        provident quidem assumenda tempore delectus ullam?</p>
                </div>
                <div>
                    <ul>
                        <li>Vue</li>
                        <li>FireBase</li>
                        <li>SCSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>