<div class="contract-area">
    <div class="container text-center">
        <div class="contract-title">
            <p class="p-0 m-0 font-size-16"> What's Next</p>
        </div>
        <h3 class="p-0 m-0 font-size-30 mb-40">Get In Touch</h3>
        <p class="p-0 m-0 mb-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam voluptate voluptatum
            nesciunt neque libero commodi adipisci doloremque numquam ratione, minima omnis cum aspernatur et voluptates
            voluptas quos dolore excepturi at!</p>
        <button class="btn border-btn">Say Hello</button>
    </div>

    <div class="social-contract">
        <ul>
            <li>github</li>
            <li>linkedIn</li>
            <li>facebook</li>
            <li>instagram</li>
        </ul>
    </div>
    <div class="contract-email">
        <p class="p-0 m-0">imrulislam@gmail.com</p>
    </div>
</div>