<div class="about-page-area">
    <div class="container">
        <div class="page-title">
            <h4 class="p-0 m-0 font-size-18 text-muted-light">About Me</h4>
        </div>
    </div>
    <div class="container" fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="70%">
            <p class="p-0 m-0 font-size-16  text-muted-medium">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptate nihil
                asperiores aliquid qui eius a ab, ducimus, cumque culpa perferendis eos, nemo obcaecati nisi. Temporibus
                labore ad cumque blanditiis quis.</p>
            <p class="p-0 m-0 font-size-16  text-muted-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae, modi.</p>

            <div class="" fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="50%">
                    <div class="experties">
                        <ul class="p-0 m-0">
                            <li class=" text-muted-medium">Html</li>
                            <li class=" text-muted-medium">Css</li>
                            <li class=" text-muted-medium">Scss</li>
                            <li class=" text-muted-medium">Bootstrap</li>
                            <li class=" text-muted-medium">Go</li>
                        </ul>
                    </div>
                </div>
                <div fxFlex="50%">
                    <div class="experties">
                        <ul class="p-0 m-0">
                            <li class=" text-muted-medium">JavaScript</li>
                            <li class=" text-muted-medium">AnuglarJs</li>
                            <li class=" text-muted-medium">Angular-material</li>
                            <li class=" text-muted-medium">Angular</li>
                            <li class=" text-muted-medium">MongoDb</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-pic">

        </div>
    </div>
</div>