<div class="work-area">
    <div class="container">
        <div class="page-title" fxFlexOffset="15%" fxLayout="column">
            <h4 class="p-0 m-0 font-size-18 text-muted-light">Where I've Worked</h4>
        </div>
    </div>
    <div class="container">
        <div fxFlexOffset="15%" fxLayout="column">
            <div class="office-side">
                <ul>
                    <li><a href="">Bigweb Technologies Ltd.</a></li>
                    <li><a href="">Selise</a></li>
                </ul>
            </div>
            <div class="office-details-side">
                <h3 class="designation">Software Eng. @ <span class="company-name">Selise</span></h3>
                <p class="time-period">May 2018 - Present</p>

                <div class="work-details">
                    <ul>
                        <li class="p-0 m-0 mb-24">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum tenetur
                            libero, consectetur quisquam voluptatibus facere error laboriosam quidem quo quae aut iusto
                            magnam. Facilis optio aut provident animi expedita eos.</li>
                        <li class="p-0 m-0 mb-24">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum tenetur
                            libero, consectetur quisquam voluptatibus facere error laboriosam quidem quo quae aut iusto
                            magnam. Facilis optio aut provident animi expedita eos.</li>
                        <li class="p-0 m-0 mb-24">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum tenetur
                            libero, consectetur quisquam voluptatibus facere error laboriosam quidem quo quae aut iusto
                            magnam. Facilis optio aut provident animi expedita eos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>