<div class="main-menu-area">
    <div class="wide-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo"></div>
        <div class="main-manu">
            <ul class="p-0 m-0">
                <li class="display-inline float-left"><a class="font-size-18 display-block" href="">About</a></li>
                <li class="display-inline float-left"><a class="font-size-18 display-block" href="">Experience</a></li>
                <li class="display-inline float-left"><a class="font-size-18 display-block" href="">Work</a></li>
                <li class="display-inline float-left"><a class="font-size-18 display-block" href="">Contract</a></li>
                <li class="display-inline float-left resume-btn"><a class="font-size-18 display-block"
                        href="">Resume</a></li>
            </ul>
        </div>
    </div>
</div>