<div class="welcome-area">
    <div class="container">
        <div class="welcome-text">
            <p class="p-0 m-0 font-size-14 mb-12 primary-text-color-medium">Hi, my name is</p>
            <h1 class="p-0 m-0 font-size-40 mb-12 text-muted-light">Md. Imrul Islam</h1>
            <h1 class="p-0 m-0 font-size-40 mb-32 text-deep-dark">I Build Awesome Web Apps</h1>
            <p class="p-0 m-0 font-size-14 text-muted-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus quas
                est tempore placeat in doloribus repudiandae aperiam dignissimos, soluta enim?</p>


            <button class="btn border-btn"></button>
        </div>
    </div>
</div>